html {
    min-height: 50%;
}

body{
    margin: 10%;
    padding: 0;
    background-color: rgb(53, 53, 225);
    min-height: 50%;
    padding-bottom: 5rem;
    font-size: 1.5rem;
}

h1 {
    color: white;
}
input {
    border-radius: .5rem;
    border: none;
}

label {
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: .5rem;
}

.buscar {
    color: white;
}

#agendarCitaTiulo {
    color:  rgb(53, 53, 225);
}