* {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --moradoOscuro : #954FB1;
    --moradoClaro : #b79ac3;
    --grisClaro : #E3DFDE;
}


body {
    background-color: var(--grisClaro);
    padding: 25px;
}

.encabezado {
    background-color: var(--moradoOscuro);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 15px 15px 0 0;
}

.encabezado figure img {
    width: 50px;
}

.encabezado h1 {
    color: white;
}

.main_container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;
    background-color: #b79ac3;
}

.charizar-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.titulo {
    background-color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.titulo figure img {
    width: 50px;
    height: 50px;
}

.img-charizar {
    width: 100%;
}

.info_pokemon {
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 15px;
}

.papa_info {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.title {
    font-weight: bold;
    color: var(--moradoOscuro);
}

.desc{
    color: black;
}

.hijo-info span{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.footer img {
    margin: 30px;
    width: 80px;
}

@media screen and (max-width: 800px) {
    .footer img {
        margin: 20px;
        width: 70px;
    }
}

@media all and (min-width: 600px) {
    .contenedor { flex: 1 0 0; }
}

@media screen and (max-width: 375px) {
    .main_container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer {
        display: flex;
        flex-flow: row wrap;
    }
    .footer > * {
        padding: 10px;
        flex: 2 50%;
    }
    
    .footer img {
        margin: 20px;
        width: 50px;
    }
}